<IfModule mod_rewrite.c>
    RewriteEngine on

    # Исключаем доступ к существующим файлам и папкам
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ - [L]

    # Все остальные запросы перенаправляем на index.php
    RewriteRule ^ index.php [L]
</IfModule>
